.card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ccc;
}

.button {
    background-color: #615050;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #2f2a2a;
    cursor: pointer;
}